@import 'utils/math'
@import 'variable'
@import 'mixin/debug'
@import 'mixin/grid'
@import 'mixin/cell'
@import 'mixin/cell-set'

// grid container
mix_grid()

// grid cell
mix_cell_set()

// debug style for demo page
//
//   set $elastic_debug a boolean value in variable.styl
//   prevent from injecting demo style into final lib
mix_debug()