@import 'foundation/_config'
@import 'foundation/_helper'
@import 'foundation/_debug'
@import 'foundation/_mixin'
@import 'components/grid'
@import 'components/cell'

$elastic_debug                      = true

.g--row
  mix_cell_fixed($elastic_division, 'h')

.g--col
  mix_cell_fixed($elastic_division, 'v')

mix_cell_auto($elastic_division)
mix_debug()
