@import 'foundation/variable'
@import 'foundation/helper'
@import 'foundation/mixin'

@import 'components/grid'
@import 'components/cell'

.g--row
  mix_cell_fixed($elastic_division, 'h')

.g--col
  mix_cell_fixed($elastic_division, 'v')

mix_cell_auto($elastic_division)
mix_debug()
