/* ****************************************************************************
    elastic-grid.css - Elastic grid system with powerful css3 flex box.

    Author: Bin-Rui Guan <differui#gmail.com>
    Liscense: MIT
  ************************************************************************** */

// ----- triggers ----- //

// add debug style
$elastic_debug     = false

// use css3 selector instead of grouping selector
$elastic_css3      = false

// ----- default value ----- //

$aliquots          = (1 full) (2 half) (3 third) (4 quarter) (5 quintile)
$default_gutter    = 1em
$default_division  = length($aliquots)