/* =====================================================================
    elastic-grid - elastic grid system with css3 flex box

    this file define basis variables of change configuration of elastic
    grid.

    author: Bin-Rui Guan <differui#gmail.com>
    liscense: MIT
   ===================================================================== */

/* triggers
   ===================================================================== */

// add debug style
$elastic_debug               = false

// use css3 selector instead of grouping selector
$elastic_css3                = false

/* default value
   ===================================================================== */
$aliquots                    = (1 full) (2 half) (3 third) (4 quarter) (5 quintile)
$default_gutter              = 1em
$default_division            = length($aliquots)