/* =====================================================================
    elastic-grid - elastic grid system with css3 flex box

    this file define basis variables of change configuration of elastic
    grid.

    author: Bin-Rui Guan <differui#gmail.com>
    liscense: MIT
   ===================================================================== */

/* triggers
   ===================================================================== */

// add debug style
$debug                       = false

// use css3 selector instead of grouping selector
$css3                        = false

/* default value
   ===================================================================== */
$aliquots                    = (1 full) (2 half) (3 third) (4 quarter) (5 quintile)
$defaultGutter               = 1em
$defaultDivision             = length($aliquots)