/*
 * returns the base to the exponent Power
 *
 * $base     unit The base number.
 * $exponent unit The exponent number.
 */
pow($base, $exponent)
  ensure($base,     'unit')
  ensure($exponent, 'unit')

  return 1 if $exponent is 0
  return $base if $exponent is 1

  $result = $base
  $exponent = $exponent - 1

  for $idx in 1..$exponent
    $result = $result * $base

  return $result

/*
 * Formats a number using fixed-point notation.
 *
 * $base   unit The number for formatting.
 * $digits unit The number of digits to appear after the decimal point.
 */
fixed($base, $digits)
  ensure($base,   'unit')
  ensure($digits, 'unit')

  $carry = pow(10, $digits)

  return round($base * $carry) / $carry
