/* ****************************************************************************
   grid cell set
   
   define cells in grid row
   designate modifier can change cell feature
   
   1. override flex basis
   2. align-self not supported in old syntax eidtion so old Android device is unavaliable
   
   $division number how many cells in one row
  ************************************************************************** */

mix_cell_set($division=$default_division)

  // $division is an integer greater than 0
  ensure($division, 'unit')
  error('$division is negative number') unless $division >= 1

  $css3_cell      = ()
  $specified_cell = ()
  $division       = floor($division)

  .c
    flex 1
    order 2
    box-sizing border-box

  // specific order
  .c--first
    order 1
  .c--last
    order 3

  // align cell according to corss axis /* 2 */
  .c--start
    align-self flex-start

  .c--end
    align-self flex-end

  .c--center
    align-self center

  .c--stretch
    align-self stretch

  .c--baseline
    align-self baseline

  /* init cell width and gap
     ======================================================================= */

  // cell without aliquot name
  for $level in 1..$division
    for $cell in 1..$level
      $gap = unit(100 / $level, '%')

      // filter aliquots cell: 1-1, 1-2, 1-3, 1-4, 1-5 ...
      // if $level % $cell isnt 0 and $cell isnt 1
      mix_cell($cell, $level, fixed($gap * $cell, 4))

  // cell with aliquot name
  for $cell in $aliquots
    $level = $cell[0]
    $name  = $cell[1]
    $gap   = fixed(unit(100 / $level, '%'), 4)

    // set cell width and gap
    mix_cell($name, $level, $gap)

  /* constraint specified cell width
     ======================================================================= */

  // cells with aliquot name
  for $cell in $aliquots
    $aliquotName = $cell[1]

    push($css3_cell, s('.c--%s', $aliquotName))
    push($specified_cell, s('.c--%s', $aliquotName))

  // cells with numeric name
  for $level in 1..$division
    for $cell in 1..$level

      // if $level is 1 or $level isnt $cell
      push($specified_cell, s('.c--%sof%s', $cell, $level))

  // with css3 selector
  for $level in 1...$division
    push($css3_cell, s('.c[class*="c--%s"]', $level))

  if $elastic_css3
    {join(',', $css3_cell)}
      flex none
  else
    {join(',', $specified_cell)}
      flex none