// Generate grid cell with width and gap.
//
// $cell  unit/ident Aliquots name or number.
// $level unit       Level number for generate selector.
// $gap   unit

mix_cell($cell, $level, $gap)
  $type = typeof($cell)

  // common column .c--1of5   .c--3of5
  // offset column .c--o-1of5 .c--o-3of5
  if $type is 'unit'
    .c--{$cell}of{$level}
      width $gap

    .c--o-{$cell}of{$level}
      margin-left $gap
  
  // common column .c--half   .c--1of5
  // offset column .c--o-half .c--o-1of5
  if $type is 'ident'
    .c--{$cell}
    .c--1of{$level}
      width $gap

    .c--o-{$cell}
    .c--o-1of{$level}
      margin-left $gap