mix_debug()
  .demo
    text-align center
    display block
    background-color rgba(150, 150, 150, 0.3)
    padding: .8em .5em
    border-radius 3px

  .g
    margin-bottom 1em

  .g .g
    margin-bottom 0