code {
  color: lightblue
}

.row--top,
.row--middle,
.row--bottom {
  height: 150px;

  border-right: solid 5px lightblue;
}

.col--first > .demo,
.col--last > .demo {
  background-color: lightblue;
}