code {
  color: lightblue
}

.g--cross-start,
.g--cross-center,
.g--cross-end {
  height: 150px;

  border-right: solid 5px lightblue;
}

.col--first > .demo,
.col--last > .demo {
  background-color: lightblue;
}

.demo input {
  margin: 0;
  width: 100%;
  border: solid 1px #efefef;
  box-sizing: border-box;
}